.header-secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .header-logo {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    justify-self: center;

    @include media-breakpoint-up(lg) {
      grid-row: 2 / span 1;
    }

    img {
      width: 100px;

      @include media-breakpoint-up(lg) {
        width: 180px;
      }
    }
  }

  .header-search {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    font-size: 22px;

    ul {
      display: flex;
      align-items: center;
      gap: 18px;

      :nth-child(1) {
        a {
          color: $brand-primary;
          width: 30px;
          height: 22px;
        }
      }
    }
  }

  .header-controls {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;

    ul {
      display: flex;
      align-items: center;
      gap: 18px;
      font-size: 19px;

      li:nth-child(1) {
        a {
          position: relative;

          > span {
            position: absolute;
            top: -12px;
            right: -12px;
            min-width: 18px;
            height: 18px;
            border-radius: 50%;
            text-align: center;
            font-size: 12px;
            color: $white;
            background-color: $brand-primary;
          }
        }
      }

      li:nth-child(2) {
        a {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      ul {
        display: flex;
        flex-direction: row-reverse;
        gap: 41px;
      }
    }

    img {
      width: 30px;
      height: 30px;

      @include media-breakpoint-up(lg) {
        width: 36px;
        height: 36px;
      }
    }
  }

  .header-support {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    align-self: center;
    color: $gray-primary;

    ul {
      display: flex;
      gap: 15px;

      > li {
        i {
          color: $brand-primary;
        }
      }
    }
  }
}
